.halfwidth {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
}

body {
    background: #333;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/p5.png');
    background-repeat: repeat;
}

.alert {
	position:absolute;
    z-index:1000000000;
    width: 50%;

}


.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

.wrapper {
	padding-left: 15px;
	padding-right: 15px;
}

.stressed {
    font-weight: bold;
}




.chart {

}

.main text {
    font: 10px sans-serif;  
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

network-chart {
    width: 100%;
    height: 100%;
    display: block;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

circle {
  /*fill: #ccc;*/
  fill: #428BCA;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 14px sans-serif;
  pointer-events: none;

}

.selectMe {
    color: orange;
}

.geneTile {
    width: 75px;
    height: 75px;
    background-color: #1BA1E2;
    color: white;
    font-size: 14px;
    float: left;
    padding: 5px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.geneTileContents {
    position:absolute;
    top:50%;
    height:2em;
    margin-top:-1em
}

.geneTile .title {
    font-weight: bold;
}

.geneTile .subtext {
    font-weight: normal;
    font-size: 9px;
    color: #B7DEF1;
}

